
.fs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fl{
  flex-flow:wrap
}
.fc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*padding*/
.pdb5{
  padding-bottom: 5px;
}
.pdt5{
  padding-top: 5px;
}
.pdl10 {
  padding-left: 10px;
}
.pdt10{
  padding-top: 10px;
}
.pdt6{
  padding-top: 6px;
}
.pdt15{
  padding-top: 15px;
}

.ge-pr {
  position: relative;
}
.ge-border {
  border-bottom: 1px solid #e5e6e9;
}
